html {
   font-size: 10px;
}

h1, h2, h3, h4 {
   font-family: 'Merriweather', serif;;
}

p, a {
   font-family: 'Roboto Slab', serif;
   font-size: 2rem;
   color: black;
}

/***************** NAV *****************/
nav {
   height: 8rem;
   background-color: #D90416;
   color: #F2F2F2;
   margin-bottom: 4rem;
}

.brand-logo img {
   height: 8rem;
   position: unset;
   padding: 1rem 3rem;
}
#nav-mobile {
   margin-right: 2rem;
}

#nav-mobile a {
   height: 8rem;
   font-size: 1.5rem;
   padding: 0 3rem;
}

/***************** MAIN *****************/
#col1 {
   height: auto;
   padding: 2rem;
}

#col2 {
   height: auto;
   padding: 2rem;
}

#col3 {
   height: auto;
   padding: 2rem;
}

/***************** DRINKS *****************/
#col3 h3 {
   margin-bottom: 1rem;
}

#col3 img {
   width: 100%;
}

#drink-block {
   border-bottom: #D90416 2px solid;
}


/***************** FOOTER *****************/
footer a {
   font-size: 1.75rem;
   color: #f2f2f2;
}



.page-footer {
   background-color: #D90416;
   color: #F2F2F2;
}






/* FONTS */
/*
font-family: 'Roboto Slab', serif;
font-family: 'Merriweather', serif;
*/

/* COLORS */
/* Color Theme Swatches in Hex */
.Row-of-ice-cream-scoops-1-hex { color: #D90416; }
.Row-of-ice-cream-scoops-2-hex { color: #F2B705; }
.Row-of-ice-cream-scoops-3-hex { color: #D98E04; }
.Row-of-ice-cream-scoops-4-hex { color: #F25C05; }
.Row-of-ice-cream-scoops-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.Row-of-ice-cream-scoops-1-rgba { color: rgba(216, 4, 22, 1); }
.Row-of-ice-cream-scoops-2-rgba { color: rgba(242, 182, 4, 1); }
.Row-of-ice-cream-scoops-3-rgba { color: rgba(216, 142, 4, 1); }
.Row-of-ice-cream-scoops-4-rgba { color: rgba(242, 91, 4, 1); }
.Row-of-ice-cream-scoops-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.Row-of-ice-cream-scoops-1-hsla { color: hsla(354, 96, 43, 1); }
.Row-of-ice-cream-scoops-2-hsla { color: hsla(45, 96, 48, 1); }
.Row-of-ice-cream-scoops-3-hsla { color: hsla(39, 96, 43, 1); }
.Row-of-ice-cream-scoops-4-hsla { color: hsla(22, 96, 48, 1); }
.Row-of-ice-cream-scoops-5-hsla { color: hsla(0, 0, 95, 1); }